* {
    border: 1px solid black;
}

body {
    background-color: rgb(54, 54, 54);
}

#grid-container {
    display: grid;
    justify-content: center;
}


#wrapper {
    display: grid;
    justify-content: center;
}